<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- fontAwseome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- link CSS -->


</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><i class="fas fa-code"></i> GestionUsers </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/"><i class="fas fa-home"></i>  Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/departements"><i class="fas fa-house-damage"></i> All Departements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/users"><i class="fas fa-users"></i> Users</a>
            </li>
          
          </ul>
        </div>
      </nav>

      <div class="container">
          <!-- <img src="../public/img/a.png" alt="" width="100%" height="200px"> -->
        <h1 class="text-center p-3 mr-5 mt-5">Gestion Users</h1>

        <p class="text-center m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus commodi illo inventore deleniti dolorum, accusamus voluptates, quibusdam numquam sit vitae provident, eum non deserunt dicta. Error, culpa! Omnis, officia debitis.</p>
        <div  class="row ">
            <div class="col-md-4 m-auto ">
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">ADD Departements</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1" data-whatever="@fat">ADD Users</button>

            </div>
            
        
        </div>
        </div>



      
        <!-- modal departement ////////////////-->
       


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title" id="exampleModalLabel"> <i class="fas fa-home"></i> New Departement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <form method="POST" action="/api/departements"> 
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="recipient-name" name="title" id="name" >
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Description:</label>
            <textarea class="form-control" id="message-text " name="description" id="name"></textarea>
          </div>
          <button type="submit" class="btn btn-success border-dark text-white" class="form-control" >Valider</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </form>
      </div>
    
    </div>
  </div>
</div>
<!-- modal////////////////// -->



<!-- modal Users////////////////////// -->

<div class="modal fade " id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header ">
          <h5 class="modal-title " id="exampleModalLabe1"<i class="fas fa-users"><i class="fas fa-users"></i> New User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
            <form method="POST" action="/api/users"> 
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="recipient-name" name="name" id="name" >
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Email:</label>
                    <input type="text" class="form-control" id="recipient-name" name="email" id="name" >
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Password:</label>
                    <input type="text" class="form-control" id="recipient-name" name="passowrd" id="name" >
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Departements:</label>
                  
                    <select class="form-control" id="recipient-name"  name="departement_id" class="" >
                    
                    <% departements.forEach(element => { %>
                      <option  value="<%= element.id %>"><%= element.id %> <%= element.title %></option>
                    <% }) %>
                    
                </select>
              </div>
                
              
                <button type="submit" class="btn btn-success border-dark text-white" class="form-control" >Valider</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </form>
        </div>
       
      </div>
    </div>
  </div>
<!-- modal///////// -->







    
<style>

  body {
    background-color: lightblue;
  }

  .modal-body{

    background-color: lightblue;
  }

  h1{

    font-size: 70px;
  }


  P{


font-size: 20px;    
  }

 
  
  
  
  
  </style>
  
  
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>